# Entorno (development o production)
NODE_ENV=development

# Puerto del servidor
PORT=3000

# Configuración de la Base de Datos (MySQL)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=jwt_db

# Seguridad JWT
JWT_SECRET=tu_clave_secreta_aqui
